*{
    margin: 0;
    font-family: Arial;
    border:border-box;
}
/* flipkart logo */
.navbar{
    height:80px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.navlogo{
    height: 70px;
    width:100px;
}
.logo{
    background-image: url("/Flipkart/Flipkart-logo.jpg");
    background-size: cover;
    align-items: center;
    height:60px;
    width:100%;
}
/* input box */
.nav-search{
    height:45px;
    display: flex;
    background-color:rgb(214, 226, 230) ;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    align-items: center;
    
}
.search-icon{
    height: 45px;
    width:44px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input{
    height:38px;
    width:600px;
    font-size: 20px;
    border:none;
    background-color: rgb(214, 226, 230);
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
/* seller */
.nav-seller i{
    font-size: 24px;
}
.nav-seller{
    margin-left: 5px;
    font-size: 20px;
}

/* sign in */
.nav-signin{
    height:40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;

}

.nav-signin i{
    font-size: 20px;
}


/* cart */
.nav-cart{
    font-size: 20px;
}
/* last  */
.nav-last{
    font-size:20px ;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-last:hover{
    border:1px solid black
    
}
/* body */
body{
    background-color: #EAEAEA;
}

.container2{
    height:150px;
    width:98%;
    background-color: white;
    margin-top: 10px;
    margin-left: 15px;
    display: flex;
    justify-content: space-evenly;  
}
.box-image{
    height:90px;
    width:80px;
    background-size: cover;
    margin-top: 10px;
    margin-left: 10px;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
    width:100px;
}
.box-content span{
    margin-left: 30px;
    font-size: 18px;
}
.box{
    height:100px;
    width:15%;
}
/* carousel  */
section{
    height:250px;
    width:98%;
    margin-top: 20px;
    margin-left: 15px;
    flex-wrap: wrap;

}
.carousel img{
    height:250px;
    width:98%;
}
/* shop section */
.row{
    height:600px;
    width:98%;
    background-color: white;
    margin-left: 15px;
    margin-top: 20px;
    display: flex;
    padding-left: 25px;
    padding-top: 15px;
    justify-content: space-evenly;
}
.row-text{
    width:98%;
    height:20px;
    margin-top: 10px;
}
.card-body{
    width:280px;
}
.text-1{
    color:#878787;
    margin:0%;
}
.text-2{
    color:#388E3c;
}
.card:hover{
    border: 1px solid transparent;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.row-image{
    height:250px;
    width:280px;
    background-size:cover;
    margin-left: 5px;
    padding: 20px;
}
.assured{
    height:20px;
    width:80px;
}
/* Footer */
.foot-panel{
    background-color: #172337;
    color:white;
    height:500px;
    width:98%;
    margin-top: 10px;
    margin-left: 12px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
.foot-panel a{
    color: white;
    display: block;
    margin-top: 10px;
}
.foot-panel p{
    color: #878787;
}




